body {
  margin: 10px;
}

.tweet {
  border: 3px solid lightgray;
  overflow: hidden;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.avatar {
  width: 5rem;
  height: 5rem;
  background-color: gold;
  float: left;
  margin-right: 10px;
}

.clear {
  clear: both;
}
