body {
  margin: 10px;
}

p::first-letter {
  font-size: 140%;
  font-weight: bold;
}

p::first-line {
  font-weight: bold;
}

::selection {
  background-color: orange;
}
p::before {
  content: "...";
  display: block;
}
p::after {
  content: "###";
  font-weight: bold;
  display: block;
}
