*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 10px;
}

.box::before {
  content: "Hello";
}

.box {
  width: 100px;
  height: 100px;
  background: gold;
  /* border: 20px solid orange;
  padding: 10px; */
  /* box-sizing: border-box; */
  display: inline-block;
}
